.App {
  display: flex;
  flex-direction: column;
  min-height: 900px;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: bold;
}

.buttonsWrapper {
  display: flex;
  gap: 10px;
}

.button {
  width: 80px;
  height: 40px;
}
